<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

  <nav>

  <ul>
    <a href="ejemplo1">ejemplo1</a>
    <a href="ejemplo2">ejemplo2</a>
    <a href="ejemplo3">ejemplo3</a>
    <a href="nosotros">ejemplo4</a>
    

  </ul>
  </nav>



    {{{body}}}
  </body>
</html>
